*,
*::before,
*::after{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --color: rgb(128,4,4);
    --marco: inset 0 0 0 7px var(--color);
    --centrado:translate(-50%,-50%);
    --colorBackground: rgb(225, 225, 225);
}
body{
    background: var(--colorBackground);
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: var(--centrado) scale(0.8);
}
.marcos,.marcos::before,
.marcos::after, .centro,.pico1,.pico1::before,.pico1::after,.pico2,
.pico2::before,.pico2::after,.pico1_1,.pico1_1::before,.pico1_1::after,
.pico2_1,.pico2_1::before,.pico2_1::after
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: var(--centrado);
}

.diente1,
.diente2,.diente3,.diente4,.diente5,.diente6,.diente7,
.diente8,.diente9,.diente10,.diente11,.diente12,.diente13,.diente14,
.diente15,.diente16,.diente17,.diente18,.diente19,.diente20 
{
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: var(--color);
    clip-path: polygon(20% 0%,0% 100%,100% 100%,80% 0%);
    width: 22px;
    height: 25px;
}
.container {
    width: 700px;
    height: 800px;    
    /* background: url(/images/uni.png) no-repeat center center; */
    background-color: var(--colorBackground);
    background-size: contain;
    
}
.marcos{
    background-color: transparent;
    margin-left: 4px;
    margin-top: 2px;
    width: 478px;
    height: 610px;
    border-radius: 50%;
    box-shadow: var(--marco);
}
.marcos::before{
    content: '';
    background-color: transparent;
    width: 356px;
    height: 495px;
    border-radius: 50%;
    box-shadow: var(--marco);
   
}
.marcos::after{
    content: '';
    background-color: transparent;
    width: 505px;
    height: 643px;
    border-radius: 50%;
    box-shadow: var(--marco);
}
.centro{
    background-color: transparent;
    margin-top: 91px;
    margin-left: 4px;
    --diametro:170px;
    width: var(--diametro);
    height: var(--diametro);
    border-radius: 50%;
    box-shadow: 0 0 0 25px var(--color);
}
.diente1{
    margin-top: -120px;
    margin-left: 0px;
    transform: var(--centrado) rotate(0deg);
}
.diente2 {
    margin-top: -114px;/*-120*cos(18deg)*/
    margin-left: 37px; /*120*sin(18deg)*/
    transform: var(--centrado) rotate(18deg);
}
.diente3 {
    margin-top: -97px;
    margin-left: 71px;
    transform: var(--centrado) rotate(36deg);
}
.diente4 {
    margin-top: -71px;
    margin-left: 97px;
    transform: var(--centrado) rotate(54deg);
}
.diente5 {
    margin-top: -37px;
    margin-left: 114px;
    transform: var(--centrado) rotate(72deg);
}
.diente6 {
    margin-top: 0px;
    margin-left: 120px;
    transform: var(--centrado) rotate(90deg);
}
.diente7 {
    margin-top: 37px;
    margin-left: 114px;
    transform: var(--centrado) rotate(108deg);
}
.diente8 {
    margin-top: 71px;
    margin-left: 97px;
    transform: var(--centrado) rotate(126deg);
}
.diente9 {
    margin-top: 97px;
    margin-left: 71px;
    transform: var(--centrado) rotate(144deg);
}
.diente10 {
    margin-top: 114px;
    margin-left: 37px;
    transform: var(--centrado) rotate(162deg);
}
.diente11 {
    margin-top: 120px;
    margin-left: 0px;
    transform: var(--centrado) rotate(180deg);
}
.diente12 {
    margin-top: 114px;
    margin-left: -37px;
    transform: var(--centrado) rotate(198deg);
}
.diente13 {
    margin-top: 97px;
    margin-left: -71px;
    transform: var(--centrado) rotate(216deg);
}
.diente14 {
    margin-top: 71px;
    margin-left: -97px;
    transform: var(--centrado) rotate(234deg);
}
.diente15 {
    margin-top: 37px;
    margin-left: -114px;
    transform: var(--centrado) rotate(252deg);
}
.diente16 {
    margin-top: 0px;
    margin-left: -120px;
    transform: var(--centrado) rotate(270deg);
}
.diente17 {
    margin-top: -37px;
    margin-left: -114px;
    transform: var(--centrado) rotate(288deg);
}
.diente18 {
    margin-top: -71px;
    margin-left: -97px;
    transform: var(--centrado) rotate(306deg);
}
.diente19 {
    margin-top: -97px;
    margin-left: -71px;
    transform: var(--centrado) rotate(324deg);
}
.diente20 {
    margin-top: -114px;
    margin-left: -37px;
    transform: var(--centrado) rotate(342deg);
}
.pico1{
    background-color: var(--color);
    width: 12px;
    height: 120px;
    margin-top: -67px;
    margin-left: 95px;
    transform: var(--centrado) rotate(54deg);
}
.pico1::before{
    content: '';
    width: 46px;
    height: 20px;
    margin-top: -50px;
    background-color: var(--color);
    clip-path: polygon(0 0% , 0 100%,100% 100%, 100% 0);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 0%;
    left: -46px;
    transform: translate(0%,0%);
    opacity: 1;
}
.pico1::after{
    content: '';
    width: 44px;
    height: 20px;
    margin-top: -50px;
    background-color: var(--color);
    clip-path: polygon(0 0% , 0 100%,100% 100%, 100% 0);
    border-top-right-radius: 100%;
    border-bottom-right-radius: 0%;
    left: 11px;
    transform: translate(0%,0%);
    opacity: 1;
}
.pico1_1{
    width: 12px;
    height: 50px;
    margin-top: -69px;
    margin-left: 98px;
    transform: var(--centrado) rotate(54deg);
}
.pico1_1::before{
    content: '';
    width: 48.3px;
    height: 10px;
    margin-top: -34px;
    margin-left: -4.5px;
    background-color:  var(--colorBackground);
    clip-path: polygon(0 0% , 0 100%,100% 100%, 100% 0);
    border-top-left-radius: 90%;
    left: -44px;
    transform: translate(0%,0%);
    opacity: 1;
}
.pico1_1::after{
    content: '';
    width: 48.3px;
    height: 10px;
    margin-left: 1px;
    margin-top: -34px;
    background-color:  var(--colorBackground);
    clip-path: polygon(0 0% , 0 100%,100% 100%, 100% 0);
    border-top-right-radius: 90%;
    left: 11px;
    transform: translate(0%,0%);
    opacity: 1;
}
.pico2{
    background-color: var(--color);
    width: 12px;
    height: 120px;
    margin-top: -67px;
    margin-left: -95px;
    transform: var(--centrado) rotate(306deg);
}
.pico2::before{
    content: '';
    width: 46px;
    height: 20px;
    margin-top: -50px;
    background-color: var(--color);
    clip-path: polygon(0 0% , 0 100%,100% 100%, 100% 0);
    border-top-left-radius: 100%;
    border-bottom-left-radius: 0%;
    left: -46px;
    transform: translate(0%,0%);
    opacity: 1;
}
.pico2::after{
    content: '';
    width: 44px;
    height: 20px;
    margin-top: -50px;
    background-color: var(--color);
    clip-path: polygon(0 0% , 0 100%,100% 100%, 100% 0);
    border-top-right-radius: 100%;
    border-bottom-right-radius: 0%;
    left: 11px;
    transform: translate(0%,0%);
    opacity: 1;
}
.pico2_1{
    width: 12px;
    height: 50px;
    margin-top: -69px;
    margin-left: -98px;
    transform: var(--centrado) rotate(306deg);
}
.pico2_1::before{
    content: '';
    width: 48.3px;
    height: 10px;
    margin-top: -34px;
    margin-left: -4.5px;
    background-color:  var(--colorBackground);
    clip-path: polygon(0 0% , 0 100%,100% 100%, 100% 0);
    border-top-left-radius: 90%;
    left: -44px;
    transform: translate(0%,0%);
    opacity: 1;
}
.pico2_1::after{
    content: '';
    width: 48.3px;
    height: 10px;
    margin-left: 1px;
    margin-top: -34px;
    background-color:  var(--colorBackground);
    clip-path: polygon(0 0% , 0 100%,100% 100%, 100% 0);
    border-top-right-radius: 90%;
    left: 11px;
    transform: translate(0%,0%);
    opacity: 1;
}
.cabeza_1{
    position: absolute;
    left: 50%;
    top:50%;
    transform: var(--centrado);
    width: 98px;
    height: 98px;
    background-color: var(--color);
    margin-top: -260px;
    border-radius: 50%;
    opacity: 1;
    clip-path: polygon(0% 0%, 0% 100% , 54% 100%, 38% 50%,28% 25%, 65% 0%);
}
.cabeza_2{
    position: absolute;
    left: 50%;
    top:50%;
    transform: var(--centrado);
    width: 100px;
    height: 100px;
    background-color: transparent;
    margin-left: -19px;
    margin-top: -253px;
    border-radius: 50%;
    opacity: 1;
    box-shadow: inset 0 0 0 34px var(--color);
    clip-path: polygon(50% 40%,24% 100%,86% 100%,68% 40% );
}
.cabeza_3{
    position: absolute;
    left: 50%;
    top:50%;
    transform: var(--centrado);
    width: 90px;
    height: 90px;
    background-color: transparent;
    margin-top: -260px;
    margin-left: 20px;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 56%;
    opacity: 1;
    box-shadow:inset 0 0 0 12px var(--colorBackground);
    clip-path: polygon(0% 0%, 0% 71% ,70% 20%, 60% 0%);
}
.cabeza_4{
    position: absolute;
    left: 50%;
    top:50%;
    transform: var(--centrado);
    width: 72px;
    height: 80px;
    background-color: var(--color);
    margin-top: -260px;
    margin-left: 23px;
    border-top-left-radius: 50%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 90%;
    border-bottom-right-radius: 0%;
    opacity: 1;
    clip-path: polygon(0% 0%, 0% 80% ,38% 50%,70% 40%,100% 35% ,100% 0%);
}
.cabeza_5{
    position: absolute;
    left: 50%;
    top:50%;
    transform: var(--centrado);
    width: 48px;
    height: 80px;
    background-color: transparent;
    margin-top: -231px;
    margin-left: 22px;
    /* border-top-left-radius: 90% 32%; */
    border-top-right-radius: 20%;
    /* border-bottom-left-radius: 90%; */
    border-bottom-right-radius: 30%;
    opacity: 1;
    box-shadow:inset 0 0 0 2.5px var(--color);
    clip-path: polygon(80% 0%, 50% 27%, 100% 27%, 100% 0%);
}
.cabeza_6{
    position: absolute;
    left: 50%;
    top:50%;
    transform: var(--centrado);
    width: 48px;
    height: 80px;
    background-color: transparent;
    margin-top: -216px;
    margin-left: 33px;
    /* border-top-left-radius: 90% 32%; */
    border-top-right-radius: 50% 50%;
    /* border-bottom-left-radius: 90%; */
    border-bottom-right-radius: 10% 10%;
    opacity: 1;
    box-shadow:inset 0 0 0 2px var(--color);
    clip-path: polygon(81% 0%,50% 28%, 97.5% 26.5%, 100% 0%);
}
.cabeza_7{
    position: absolute;
    left: 50%;
    top:50%;
    transform: var(--centrado);
    width: 48px;
    height: 80px;
    background-color: transparent;
    margin-top: -270px;
    margin-left: 31.5px;
    /* border-top-left-radius: 90% 32%; */
    /* border-top-right-radius: 30% 37%; */
    /* border-bottom-left-radius: 90%; */
    border-bottom-right-radius: 10% 10%;
    opacity: 1;
    box-shadow:inset 0 0 0 3px var(--color);
    clip-path: polygon(80% 94%, 75% 98%, 92% 99%, 92.5% 99%,97% 94%);
}
.cabeza_8{
    position: absolute;
    left: 50%;
    top:50%;
    transform: var(--centrado);
    width: 48px;
    height: 40px;
    background-color: transparent;
    margin-top: -242px;
    margin-left: 23px;
    /* border-top-left-radius: 90% 32%; */
    border-top-right-radius: 100% 100%;
    /* border-bottom-left-radius: 100%; */
    border-bottom-right-radius: 100% 5%;
    opacity: 1;
    box-shadow:inset 0 0 0 2px var(--color);
    clip-path: polygon(90% 75%, 90% 100%, 100% 100%, 100% 75%);
}
.cabeza_9{
    position: absolute;
    left: 50%;
    top:50%;
    transform: var(--centrado);
    width: 48px;
    height: 12px;
    background-color: transparent;
    margin-top: -219px;
    margin-left: 23px;
    /* border-top-left-radius: 90% 32%; */
    border-top-right-radius: 14% 20%;
    /* border-bottom-left-radius: 90%; */
    border-bottom-right-radius: 90% 80%;
    opacity: 1;
    box-shadow:inset 0 0 0 2px var(--color);
    clip-path: polygon(96% 0%, 87% 100%, 100% 100%, 100% 0%);
}
.cabeza_10{
    position: absolute;
    left: 50%;
    top:50%;
    transform: var(--centrado);
    width: 26px;
    height: 20px;
    background-color: transparent;
    margin-top: -213.1px;
    margin-left: 32px;
    /* border-top-left-radius: 90% 32%; */
    border-top-right-radius: 0% 100%;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70% 80%;
    opacity: 1;
    box-shadow:inset 0 0 0 2px var(--color);
    clip-path: polygon(30% 60%, 0% 100%, 100% 100%, 100% 18%);
}
.cabeza_11{
    position: absolute;
    left: 50%;
    top:50%;
    transform: var(--centrado);
    width: 26px;
    height: 52px;
    background-color: transparent;
    margin-top: -182px;
    margin-left: 30px;
    border-top-left-radius: 50% 90%;
    border-top-right-radius: 0% 100%;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 30% 80%;
    opacity: 1;
    box-shadow:inset 0 0 0 2.5px var(--color);
    clip-path: polygon(0% -1%, 0% 90%, 35% 100%, 35% 10%);
}
.cabeza_12{
    position: absolute;
    left: 50%;
    top:50%;
    transform: var(--centrado);
    width: 30px;
    height: 52px;
    background-color: transparent;
    margin-top: -232px;
    margin-left: 36px;
    border-top-left-radius: 80%;
    border-top-right-radius: 65% 100%;
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 30% 80%;
    opacity: 1;
    box-shadow:inset 0 0 0 2px var(--color);
    clip-path: polygon(0% 0%, 0% 10%, 70% 10%, 82% 0%);
}
.cabeza_13{
    position: absolute;
    left: 50%;
    top:50%;
    transform: var(--centrado);
    width: 28px;
    height: 52px;
    background-color: transparent;
    margin-top: -272px;
    margin-left: 30px;
    border-top-left-radius: 80%;
    border-top-right-radius: 65% 100%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 100% 80%;
    opacity: 1;
    box-shadow:inset 0 0 0 1.5px var(--color);
    clip-path: polygon(74% 80%, 74% 100%, 100% 100%, 100% 80%);
}
.cabeza_14{
    position: absolute;
    left: 50%;
    top:50%;
    transform: var(--centrado);
    width: 11px;
    height: 20px;
    background-color: transparent;
    margin-top: -242px;
    margin-left: 35px;
    border-top-left-radius: 80% 80%;
    border-top-right-radius: 10% 20%;
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    box-shadow:inset 0 0 0 4px var(--color);
    clip-path: polygon(30% 0%, 30% 32%,80% 28%, 97% 20%, 97% 0%);
}
.cabeza_15{
    position: absolute;
    left: 50%;
    top:50%;
    transform: var(--centrado);
    width: 50px;
    height: 50px;
    background-color: transparent;
    margin-top: -180px;
    margin-left: 0px;
    /* border-top-left-radius: 80%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 80%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    box-shadow:inset 0 0 0 5px var(--color);
    clip-path: polygon(0% 0%, 0% 20%, 20% 0%);
}
.cabeza_16{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 680px;
    height: 680px;
    background-color: transparent;
    margin-top: -380px;
    margin-left: -65.8px;
    /* border-radius: 50%; */
    border-top-left-radius: 50% 50%;
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    box-shadow:inset 0 0 0 100px var(--color);
    clip-path: polygon(0% 23.5%, 0% 34.9%, 16.84% 34.9%, 16.84% 34.8%);
}
.cabeza_17{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 480px;
    height: 480px;
    background-color: transparent;
    margin-top: -605px;
    margin-left: -100px;
    border-radius: 50%;
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    box-shadow:inset 0 0 0 5px var(--color);
    clip-path: polygon(0% 109%, 31% 100%, 31% 60%);
}
.cabeza_18{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 300px;
    height: 300px;
    background-color: var(--colorBackground);
    margin-top: -153px;
    margin-left: -154px;
    border-radius: 50%;
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    clip-path: polygon(0% 0%, 0% 4%, 100% 4%, 100% 0%);
}
.centro4{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 75px;
    height: 26px;
    background-color: var(--color);
    margin-top: -1px;
    margin-left: -70px;
    /* border-radius: 50%; */
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    clip-path: polygon(30% 0%,0% 100%, 100% 100%, 100% 0%);

}
.centro5{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 65px;
    height: 16px;
    background-color: var(--colorBackground);
    margin-top: 4px;
    margin-left: -65px;
    /* border-radius: 50%; */
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    clip-path: polygon(30% 0%, 8% 100%, 100% 100%, 100% 0%);
}
.centro6{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 75px;
    height: 26px;
    background-color: var(--color);
    margin-top: -1px;
    margin-left: 0px;
    /* border-radius: 50%; */
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    clip-path: polygon(0% 0%,0% 100%, 92% 100%, 70% 0%);
}
.centro1{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 23px;
    height: 102px;
    background-color: var(--color);
    margin-top: -65px;
    margin-left: -22px;
    /* border-radius: 50%; */
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    /* clip-path: polygon(0% 0%,0% 100%, 100% 100%, 100% 0%); */
}
.centro2{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 23px;
    height: 102px;
    background-color: var(--color);
    margin-top: -65px;
    margin-left: 0px;
    /* border-radius: 50%; */
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    /* clip-path: polygon(0% 0%,0% 100%, 100% 100%, 100% 0%); */
}
.centro3{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 17px;
    height: 94px;
    background-color:var(--colorBackground);
    margin-top: -60px;
    margin-left: 1px;
    /* border-radius: 50%; */
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    /* clip-path: polygon(0% 0%,0% 100%, 100% 100%, 100% 0%); */
}
.centro7{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 14px;
    height: 37px;
    background-color:var(--color);
    margin-top: -58px;
    margin-left: 1px;
    /* border-radius: 50%; */
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    /* clip-path: polygon(0% 0%,0% 100%, 100% 100%, 100% 0%); */
}
.centro8{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 12px;
    height: 35px;
    background-color:var(--colorBackground);
    margin-top: -58px;
    margin-left: -12px;
    /* border-radius: 50%; */
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    /* clip-path: polygon(0% 0%,0% 100%, 100% 100%, 100% 0%); */
}
.centro9{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 12px;
    height: 12px;
    background-color:var(--colorBackground);
    margin-top: -45.55px;
    margin-left: -6px;
    border-radius: 50%;
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    /* clip-path: polygon(0% 0%,0% 100%, 100% 100%, 100% 0%); */
}
.centro10{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 12px;
    height: 12px;
    background-color:var(--color);
    margin-top: -45.55px;
    margin-left: -6px;
    border-radius: 50%;
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    clip-path: polygon(0% 0%,0% 100%, 60% 100%, 60% 0%);
}
.centro11{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 14px;
    height: 9px;
    background-color:var(--colorBackground);
    margin-top: -15px;
    margin-left: -12px;
    /* border-radius: 50%; */
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    clip-path: polygon(0% 0%,0% 100%, 60% 100%, 60% 0%);
}
.centro12{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 4px;
    height: 4px;
    background-color:var(--color);
    margin-top: -16px;
    margin-left: 5px;
    border-radius: 50%;
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    /* clip-path: polygon(0% 0%,0% 100%, 60% 100%, 60% 0%); */
}
.centro13{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 4px;
    height: 4px;
    background-color:var(--color);
    margin-top: -16px;
    margin-left: 10px;
    border-radius: 50%;
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    /* clip-path: polygon(0% 0%,0% 100%, 60% 100%, 60% 0%); */
}
.centro14{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 4px;
    height: 4px;
    background-color:var(--color);
    margin-top: -9px;
    margin-left: 5px;
    border-radius: 50%;
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    /* clip-path: polygon(0% 0%,0% 100%, 60% 100%, 60% 0%); */
}
.centro15{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 4px;
    height: 4px;
    background-color:var(--color);
    margin-top: -9px;
    margin-left: 10px;
    border-radius: 50%;
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    /* clip-path: polygon(0% 0%,0% 100%, 60% 100%, 60% 0%); */
}
.centro16{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 13px;
    height: 45px;
    background-color: var(--color);
    margin-top: 37px;
    margin-left: -15px;
    /* border-radius: 50%; */
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity:1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    /* clip-path: polygon(0% 0%,0% 100%, 60% 100%, 60% 0%); */
}
.centro17{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 5px;
    height: 28px;
    background-color: var(--colorBackground);
    margin-top: 55px;
    margin-left: -11px;
    /* border-radius: 50%; */
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    /* clip-path: polygon(0% 0%,0% 100%, 60% 100%, 60% 0%); */
}
.centro18{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 13px;
    height: 45px;
    background-color: var(--color);
    margin-top: 37px;
    margin-left: 2px;
    /* border-radius: 50%; */
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    /* clip-path: polygon(0% 0%,0% 100%, 60% 100%, 60% 0%); */
}
.centro19{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 5px;
    height: 28px;
    background-color: var(--colorBackground);
    margin-top: 55px;
    margin-left: 6.7px;
    /* border-radius: 50%; */
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    /* clip-path: polygon(0% 0%,0% 100%, 60% 100%, 60% 0%); */
}
.centro20{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%) rotate(216deg);
    width: 13px;
    height: 45px;
    background-color: var(--color);
    margin-top: 26px;
    margin-left: -41px;
    /* border-radius: 50%; */
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    /* clip-path: polygon(0% 0%,0% 100%, 60% 100%, 60% 0%); */
}
.centro21{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%) rotate(216deg);
    width: 5px;
    height: 28px;
    background-color: var(--colorBackground);
    margin-top: 41.5px;
    margin-left: -42px;
    /* border-radius: 50%; */
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    /* clip-path: polygon(0% 0%,0% 100%, 60% 100%, 60% 0%); */
}
.centro22{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%) rotate(144deg);
    width: 13px;
    height: 45px;
    background-color: var(--color);
    margin-top: 27px;
    margin-left: 28px;
    /* border-radius: 50%; */
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    /* clip-path: polygon(0% 0%,0% 100%, 60% 100%, 60% 0%); */
}
.centro23{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%) rotate(144deg);
    width: 5px;
    height: 28px;
    background-color: var(--colorBackground);
    margin-top: 42.5px;
    margin-left: 38px;
    /* border-radius: 50%; */
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    /* clip-path: polygon(0% 0%,0% 100%, 60% 100%, 60% 0%); */
}
.centro24{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(0%,0%);
    width: 5px;
    height: 23px;
    background-color: var(--color);
    margin-top: 52px;
    margin-left: -3px;
    /* border-radius: 50%; */
    /* border-top-left-radius: 100%; */
    /* border-top-right-radius: 10% 20%; */
    /* border-bottom-left-radius: 100%; */
    /* border-bottom-right-radius: 100% 100%; */
    opacity: 1;
    /* box-shadow:inset 0 0 0 5px var(--color); */
    /* clip-path: polygon(0% 0%,0% 100%, 60% 100%, 60% 0%); */
}
.letra1::after{
    position: absolute;
    content: 'U';
    left: -122px;
    top:55.5px;
    transform: rotate(-102deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra2::after{
    position: absolute;
    content: 'N';
    left: -130px;
    top:22px;
    transform: rotate(-101deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra3::after{
    position: absolute;
    content: 'I';
    left: -126px;
    top:-4px;
    transform: rotate(-96deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra4::after{
    position: absolute;
    content: 'V';
    left: -134px;
    top:-30px;
    transform: rotate(-95deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra5::after{
    position: absolute;
    content: 'E';
    left: -133px;
    top: -60px;
    transform: rotate(-85deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra6::after{
    position: absolute;
    content: 'R';
    left: -130px;
    top: -90px;
    transform: rotate(-80deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra7::after{
    position: absolute;
    content: 'S';
    left: -122px;
    top: -118px;
    transform: rotate(-78deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra8::after{
    position: absolute;
    content: 'I';
    left: -112px;
    top: -140px;
    transform: rotate(-76deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra9::after{
    position: absolute;
    content: 'D';
    left: -110px;
    top: -168px;
    transform: rotate(-70deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra10::after{
    position: absolute;
    content: 'A';
    left: -93px;
    top: -195px;
    transform: rotate(-68deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra11::after{
    position: absolute;
    content: 'D';
    left: -77px;
    top: -226px;
    transform: rotate(-56deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra12::after{
    position: absolute;
    content: 'N';
    left: -43px;
    top: -260px;
    transform: rotate(-46deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra13::after{
    position: absolute;
    content: 'A';
    left: -15px;
    top: -280px;
    transform: rotate(-40deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra14::after{
    position: absolute;
    content: 'C';
    left: 15px;
    top: -294px;
    transform: rotate(-30deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra15::after{
    position: absolute;
    content: 'I';
    left: 44px;
    top: -302px;
    transform: rotate(-15deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra16::after{
    position: absolute;
    content: 'O';
    left: 65px;
    top: -305px;
    transform: rotate(-15deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra17::after{
    position: absolute;
    content: 'N';
    left: 102px;
    top: -302px;
    transform: rotate(11deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra18::after{
    position: absolute;
    content: 'A';
    left: 135px;
    top: -291px;
    transform: rotate(18deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra19::after{
    position: absolute;
    content: 'L';
    left: 166px;
    top: -276px;
    transform: rotate(33deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra20::after{
    position: absolute;
    content: 'D';
    left: 195px;
    top: -248px;
    transform: rotate(42deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra21::after{
    position: absolute;
    content: 'E';
    left: 218px;
    top: -225px;
    transform: rotate(48deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra22::after{
    position: absolute;
    content: 'I';
    left: 243px;
    top: -193px;
    transform: rotate(58deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra23::after{
    position: absolute;
    content: 'N';
    left: 250px;
    top: -168px;
    transform: rotate(64deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra24::after{
    position: absolute;
    content: 'G';
    left: 262px;
    top: -138px;
    transform: rotate(74deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra25::after{
    position: absolute;
    content: 'E';
    left: 270px;
    top: -107px;
    transform: rotate(76deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra26::after{
    position: absolute;
    content: 'N';
    left: 274px;
    top: -74px;
    transform: rotate(80deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra27::after{
    position: absolute;
    content: 'I';
    left: 282px;
    top: -48px;
    transform: rotate(86deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra28::after{
    position: absolute;
    content: 'E';
    left: 278px;
    top: -22px;
    transform: rotate(91deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra29::after{
    position: absolute;
    content: 'R';
    left: 273px;
    top: 9px;
    transform: rotate(96deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra30::after{
    position: absolute;
    content: 'I';
    left: 276px;
    top: 32px;
    transform: rotate(96deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra31::after{
    position: absolute;
    content: 'A';
    left: 264px;
    top: 58px;
    transform: rotate(98deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra32::after{
    position: absolute;
    content: 'L';
    left: -86px;
    top: 132px;
    transform: rotate(60deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra33::after{
    position: absolute;
    content: 'I';
    left: -70px;
    top: 150px;
    transform: rotate(50deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra34::after{
    position: absolute;
    content: 'M';
    left: -58px;
    top: 174px;
    transform: rotate(46deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra35::after{
    position: absolute;
    content: 'A';
    left: -29px;
    top: 198px;
    transform: rotate(36deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra36::after{
    position: absolute;
    content: '1';
    left: 28px;
    top: 226px;
    transform: rotate(18deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra37::after{
    position: absolute;
    content: '8';
    left: 57px;
    top: 231px;
    transform: rotate(10deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra38::after{
    position: absolute;
    content: '7';
    left: 84px;
    top: 233px;
    transform: rotate(0deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra39::after{
    position: absolute;
    content: '6';
    left: 112px;
    top: 228px;
    transform: rotate(-18deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra40::after{
    position: absolute;
    content: 'P';
    left: 169px;
    top: 201px;
    transform: rotate(-36deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra41::after{
    position: absolute;
    content: 'E';
    left: 192px;
    top: 181px;
    transform: rotate(-42deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra42::after{
    position: absolute;
    content: 'R';
    left: 211px;
    top: 159px;
    transform: rotate(-50deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra43::after{
    position: absolute;
    content: 'U';
    left: 230px;
    top: 130px;
    transform: rotate(-62deg);
    font-size: 32pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra44::after{
    position: absolute;
    content: 'S';
    left: -70px;
    top: -87px;
    transform: rotate(-72deg);
    font-size: 24pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra45::after{
    position: absolute;
    content: 'C';
    left: -66px;
    top: -107px;
    transform: rotate(-73deg);
    font-size: 24pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra46::after{
    position: absolute;
    content: 'I';
    left: -58px;
    top: -122px;
    transform: rotate(-74deg);
    font-size: 24pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra47::after{
    position: absolute;
    content: 'E';
    left: -56px;
    top: -137px;
    transform: rotate(-70deg);
    font-size: 24pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra48::after{
    position: absolute;
    content: 'N';
    left: -47px;
    top: -159px;
    transform: rotate(-68deg);
    font-size: 24pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra49::after{
    position: absolute;
    content: 'T';
    left: -36px;
    top: -178px;
    transform: rotate(-60deg);
    font-size: 24pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra50::after{
    position: absolute;
    content: 'I';
    left: -22px;
    top: -191px;
    transform: rotate(-58deg);
    font-size: 24pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra51::after{
    position: absolute;
    content: 'A';
    left: -16px;
    top: -205px;
    transform: rotate(-52deg);
    font-size: 24pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra52::after{
    position: absolute;
    content: 'E';
    left: 158px;
    top: -209px;
    transform: rotate(42deg);
    font-size: 24pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra53::after{
    position: absolute;
    content: 'T';
    left: 172px;
    top: -194px;
    transform: rotate(49deg);
    font-size: 24pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra54::after{
    position: absolute;
    content: 'L';
    left: 189px;
    top: -170px;
    transform: rotate(57deg);
    font-size: 24pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra55::after{
    position: absolute;
    content: 'A';
    left: 198px;
    top: -154px;
    transform: rotate(57deg);
    font-size: 24pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra56::after{
    position: absolute;
    content: 'B';
    left: 208px;
    top: -134px;
    transform: rotate(68deg);
    font-size: 24pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra57::after{
    position: absolute;
    content: 'O';
    left: 213px;
    top: -112px;
    transform: rotate(84deg);
    font-size: 24pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.letra58::after{
    position: absolute;
    content: 'R';
    left: 218px;
    top: -90px;
    transform: rotate(80deg);
    font-size: 24pt;
    font-weight: bold;
    font-family: Cambria;
    opacity: 1;
    color: var(--color);
}
.rueda{
    position: absolute;
    left: 50%;
    top: 50%;
    animation-name: rodar;
    animation-iteration-count: infinite;
    animation-direction:alternate;
    animation-timing-function: linear;
    animation-duration: 5s;
}
@keyframes rodar{
    from{
        transform: var(--centrado) rotate(0deg); 
    } to{
        transform: var(--centrado) rotate(360deg);
    }
}
.autor::after{
    position: absolute;
    left: 0%;
    transform: 0;
    width: 100%;
    bottom: 3px;
    content: '© Creado por Ivan Rodriguez Romero';
    font-size: 15pt;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: center;
}
@media(max-width:600px){
    .autor::after{
        font-size:15pt;
    }
}